* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: "Nunito";
    background-color: #f3e5f5;;
    
}

.background__container{
    background-color: #fbeefc;
    width: 500px;
    height: 600px;
    padding: 5px 0 160px;
    margin: 0px auto;
}


.board{
    font-family: "Ubuntu", sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #ecd8ec;
    color: #553c6d;
    font-weight: bold;
    height: 20px;
    width: 120px;
    padding: 5px;
    margin: 30px 0px 15px 0px;
    border-radius: 5px;
    font-size: 10px;
}

.players {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* position: absolute; */
}

.player__switch {
    font-size: 13px;
    line-height: 18px;
    animation: fadein 2s;
    margin: 0;
}

@keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.heading {
    color: #af8eb5;
    margin: 5px 0px 25px 0px;
    padding: 0;
    font-size: 50px;
}

.player1 {
    position: absolute;
    margin-right: 260px;
    font-size: 15px;
    font-weight: bold;
    color: #2e3030;
    
}

.player2 {
    position: absolute;
    margin-left: 260px;
    font-size: 15px;
    font-weight: bold;
    color: #2e3030;
}

.player1__score{
    position: absolute;
    margin: 30px 260px 0px 0px;
}

.player2__score {
    position: absolute;
    margin: 30px 0px 0 260px;
}



.grid__container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: #e3c9e7;
    padding: 10px;
    grid-gap: 10px;
  }
  
  /*content of grid box*/
  .grid-box {
    border: 1px solid #883997;
    padding: auto;
    display: block;
    width: 120px;
    height: 120px;
    font-size: 120px;
    font-family: "Margarine", cursive;
    color: #4a148c;
    line-height: 120px;
  }
  
  .grid-box:hover {
    background-color: #dcbde2;
    cursor: pointer;
  }